* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
}

#palette {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}

.color {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    width: 100%;
    height: 100%;
    touch-action: none; /* чтобы избежать прокрутки при рисовании на мобильных устройствах */
}

.pixel {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.pixel:hover {
    cursor: pointer; /* курсор для указания на пиксель */
}
